{% extends "datarequests/base.html" %}

{% block title %}Data Request {{c.datarequest.get('title', '')}}{% endblock %}

{% set datarequest_id = c.datarequest.get('id') %}

{% block breadcrumb_content %}
  <li><a href="{{ h.datarequest_url_for('index') }}">{{ _('Data Requests') }}</a></li>
  <li><a href="{{ h.datarequest_url_for('show', id=datarequest_id) }}">{{ c.datarequest.get('title') }}</a></li>
{% endblock %}

{% block content_action %}

  {% if h.check_access('update_datarequest', {'id':datarequest_id }) %}
    <a href="{{ h.datarequest_url_for('update', id=datarequest_id) }}" class="btn btn-default btn-default-custom"><i class="icon-wrench fa fa-wrench"></i> {{ _('Manage') }}</a>
  {% endif %}

  {% if h.check_access('close_datarequest', {'id':datarequest_id }) and not c.datarequest.closed %}
    <a href="{{ h.datarequest_url_for('close', id=datarequest_id) }}" class="btn btn-danger"><i class="icon-lock fa fa-lock"></i> {{ _('Close') }}</a>
  {% endif %}

{% endblock %}

{% block content_primary_nav %}
  {% set current_url = request.environ.PATH_INFO %}
  <ul class="nav nav-tabs">
    <li{% if '/comment/' not in current_url %} class="active"{% endif %}>
      <a href="{{ h.datarequest_url_for('show', id=datarequest_id) }}">
        <i class="icon-{{ h.get_question_icon() }} fa fa-{{ h.get_question_icon() }}"></i>
        {{ _('Data Request') }}
      </a>
    </li>
    {% if h.show_comments_tab() %}
    <li{% if '/comment/' in current_url %} class="active"{% endif %}>
      <a href="{{ h.datarequest_url_for('comment', id=datarequest_id) }}">
        <i class="fa-jelly fa-regular fa-comment"></i>
        {{ _('Comments') }} {{ h.get_comments_badge(datarequest_id)|safe }}
      </a>
    </li>
    {% endif %}
  </ul>
{% endblock %}

{% block secondary_content %}
  {% snippet "datarequests/snippets/followers.html", datarequest=c.datarequest %}

  {% block package_social %}
    {% snippet "snippets/social.html" %}
  {% endblock %}

{% endblock %}

{% block primary_content_inner %}
    {% if c.datarequest.closed %}
      <span style="padding: 0.5em 1em;" class="uppercase label label-closed pull-right badge badge-default">
        <i class="icon-lock fa fa-lock"></i>
        {{ _('Closed') }}
      </span>
    {% else %}
      <span style="padding: 0.5em 1em;" class="uppercase label label-open pull-right badge badge-default">
        <i class="icon-unlock fa fa-unlock"></i>
        {{ _('Open') }}
      </span>
    {% endif %}

  <h3 style="margin-top: 10px;" class="{% block page_heading_class %}page-heading{% endblock %}">{% block page_heading %}{{ c.datarequest.get('title') }}{% endblock %}</h3>

  {% block datarequest_description %}
    {% if c.datarequest.get('description') %}
      <div class="notes embedded-content">
        {{ h.render_markdown(c.datarequest.get('description')) }}
      </div>
    {% endif %}
  {% endblock %}

  {% block datarequest_additional_info %}
    {% snippet "datarequests/snippets/additional_info.html", datarequest=c.datarequest %}
  {% endblock %}

{% endblock %}