{% ckan_extends %}

{% block content_primary_nav %}
  {% set current_url = request.environ.PATH_INFO %}
  
  {# Gọi navigation gốc từ CKAN #}
  {{ super() }}
  
  {# Thêm JavaScript để inject Data Requests tab #}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var navTabs = document.querySelector('.nav.nav-tabs');
      if (navTabs) {
        var current_url = '{{ current_url }}';
        var isDataRequestPage = current_url.indexOf('/datarequest') !== -1;
        
        // Update active class cho existing tabs
        var tabs = navTabs.querySelectorAll('li');
        tabs.forEach(function(tab) {
          if (isDataRequestPage) {
            tab.classList.remove('active');
          }
        });
        
        // Tạo Data Requests tab
        var dataRequestTab = document.createElement('li');
        if (isDataRequestPage) {
          dataRequestTab.className = 'active';
        }
        
        var tabLink = document.createElement('a');
        tabLink.href = '{{ h.url_for("datarequests.user_datarequests", id=user.name) }}';
        tabLink.innerHTML = '<i class="icon-{{ h.get_question_icon() }} fa fa-{{ h.get_question_icon() }}"></i> {{ _("Data Requests") }}';
        
        dataRequestTab.appendChild(tabLink);
        navTabs.appendChild(dataRequestTab);
      }
    });
  </script>
{% endblock %}
