{% ck    <li{% if '/dashboard' not in current_url and '/datarequest' not in current_url %} class="active"{% endif %}>
      <a href="{{ h.url_for('user.read', id=user.name) }}">
        <i class="icon-sitemap fa fa-sitemap"></i>
        {{ _('Datasets') }}
      </a>
    </li>ends %}

{% block content_primary_nav %}
  {% set current_url = request.environ.PATH_INFO %}
  <ul class="nav nav-tabs">
    <li{% if '/activity' not in current_url and '/datarequest' not in current_url %} class="active"{% endif %}>
      <a href="{{ h.url_for('user.read', id=user.name) }}">
        <i class="icon-sitemap fa fa-sitemap"></i>
        {{ _('Datasets') }}
      </a>
    </li>
    <li{% if '/dashboard' in current_url %} class="active"{% endif %}>
      <a href="/dashboard">
        <i class="icon-clock-o fa fa-clock-o"></i>
        {{ _('Activity Stream') }}
      </a>
    </li>
    <li{% if '/datarequest' in current_url %} class="active"{% endif %}>
      <a href="{{ h.url_for('datarequests.user_datarequests', id=user.name) }}">
        <i class="icon-{{ h.get_question_icon() }} fa fa-{{ h.get_question_icon() }}"></i>
        {{ _('Data Requests') }}
      </a>
    </li>
  </ul>
{% endblock %}
